@page "/counter"
@rendermode InteractiveWebAssembly

@* Inject the client global localizer *@

@inject IClientGlobalStringLocalizer Localizer

@*
    Then we can use the localizer properties or methods to get the localized messages.
*@

<PageTitle>@Localizer.CounterPageTitle</PageTitle>

<h1>@Localizer.CounterTitle</h1>

<p role="status">@Localizer.CurrentCount(currentCount)</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Localizer.ClickMe</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
